body {
    background-color: black;
    text-align: center;
}

p {
    color: white;
    position: absolute;
    left : "100px";
}

#canvas {
    border: 1px solid black;
}

#hi {
    position: absolute;
    display: block;
}